.recipe-container {
    width: 100%;
    /* height: 50%; */
    margin: auto;
    /* display: flex; */
    padding-bottom: 5%;
}

.recipe-card {
    width: 75%;
    height: 225px;
    margin: auto;
    margin-top: 3%;
    margin-left: 0%;
    /* overflow: hidden; */
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
}

.recipe-header {
    padding: 3%;
}

.recipe-header h1 {
    color: black;
    font-weight: bold;
}

.recipe-header p {
    margin-top: 5%;
    font-size: 16px;
    font-weight: lighter;
}

.recipe-row {
    margin: auto;
    height: 225px;

    /* display:table-cell */
}

.recipe-image-container img{
    max-width: 100%;
    height: 225px;
}

.card-additional-info{
    position: relative;
    margin:auto;
    bottom:30px;
    margin-right: 10px;    
}


/* Recipe Details */

.recipe-details-container{
    margin:auto;
}

.recipe-details-header{
    margin: auto;
    margin-left: 0;
    background-color: lightgray;
    background-color: white;
    box-shadow: 1px 2px 2px 1px;
    width: 70%;
}

.recipe-details-col{
    margin:auto;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}

.img-fill{
    width:100%;
    height: 300px;
    object-fit: fill;
}

.details{
    padding: 10%;
}

.description{
    margin-top: 5%;
    width:70%;
}

.equipments{
    margin-top: 5%;
}

.recipe-instructions{
    margin-top: 5%;
    width: 70%;
}