.app{
  background-image: url("./images/background.jpg");
    /* Full height */
    width: '100vw';
        height: '100vh';
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page{
  width:60%;
  margin:auto;
  border-color: blue;
  border-style: dashed;
  background-color: palegoldenrod;
}

