.login-container{
    margin:auto;
}

.login-form{    
    margin:auto;
    margin-top: 15%;
    padding: 5%;
    width: 50%;
    background-color: white;
    border-color: black;
    border-width: 0.1em;
    border-radius: 10px;
    border-style: outset;
    text-align: center;
}

.form h1{
    font-size: 24px;
    font-weight: bold;
}

.signin-button{
    margin-top: 3%;
    border-radius: 10px;
    width: 40%
}

.not-account{
    margin-top: 3%;
}


.register-container{
    margin-top: 5%;
    background-image: url("../../images/background.jpg");
    border-color: black;
    border-style:inset;
    border-width: 00.01em;
    width: 100%;
    background-size: cover;
}

.register-container h1{
    margin-top: 5%;
    color:white;
    text-align: center;
}

.register-form{
    margin:auto;
    margin-top: 10%;
    margin-bottom: 15%;
    padding: 5%;
    width: 350px;
    text-align: center;
    background-color: white;
    border-width: 0.1em;
    border-radius: 10px;
    border-style: outset;
}



